<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Myblog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pygments/github.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <style>
        #tooltip{
            position:absolute;
            border:1px solid #ccc;
            background:#333;
            padding:2px;
            display:none;
            color:#fff;
        }
        #userimg{
            width: 100%;
            heigth: 100%;
        }
        #userimgdiv{
            float: left;
            width: 40px;
            heigth: 40px;
        }
    </style>
    <script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/django.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("p").css("backgroud-color", "red").slideUp(1000).slideDown(1000);
            $('input.generate_qrcode').click(submit_qrcode);
        });
        function submit_qrcode(){
            target_url = $('input[name=target_url]').val();
            if (target_url == ''){
                target_url = document.URL
            }
            $.post(
                '/qrcode', 
                {'target_url': target_url},
                function(result){
                    var tooltip = "<div id='tooltip'><img class='qrcode' title='点击关闭二维码' alt='生成二维码'><\/div>";
                    $("body").append(tooltip);	//把它追加到文档中	
                    // 直接获取图片数据流，base64编码
                    $('img.qrcode').attr("src", "data:image/png;base64," + result);			 
                    $("#tooltip")
                            .css({
                                "top": "100px",
                                "left":  "500px"
                            }).show("fast");
                    $("#tooltip").click(function(){$("#tooltip").remove();});
                    })
        }
    </script>
</head>
<body>
<div id="header">
    <div id="header-warp">
        <a href="/admin" title="第一个博客" id="logo"></a>
        
        <ul id="header-nav">
            <li><a href="{% url 'blog:index' %}">首页</a></li>
        </ul>
        <div id="header-right" class="login">
            <div class="user">
            {# 不可使用request.session['username'], 模板中的语句都不带参数 #}
            {% if request.session.username %}
                <div id='userimgdiv'>
                    <img id='userimg' src="{{ request.session.userimg }}">
                </div>
                <a id='username' href="{% url 'blog:logout' %}" float:left>{{ request.session.username }}</a>
                <a id='usercomment' href="{% url 'blog:account' %}">评论过的文章</a>
            {% else %}
                <a href="{% url 'blog:regist' %}">注册</a>
                <a href="{% url 'blog:login' %}">登陆</a>
            {% endif %}
            </div>
            
        </div>
        <div id='header-middle' class='qrcode'>
            <!--form method='post' action='{% url "blog:qrcode" %}'-->
            <form method='post' action='{% url "blog:qrcode" %}'>
               {% csrf_token %}
                <input name='target_url' type='text' placeholder="默认为当前网址">
                <input type='button' class='generate_qrcode' value="生成二维码" >
                <!--下面的方法会报错，ajaxStart状态出问题,因为button在firefox中默认type=submit,并且还漏了</button>
                <button class='generate_qrcode'value="生成二维码" onclick='submit_qrcode()'>
                -->
            </form>
            <form method='get' action='{% url "haystack:haystack_search" %}'>
               {% csrf_token %}
                <input name='q' id='id_q' placeholder="输入要搜索的关键字">
                <input id='search' value="搜索" type='submit'>
            </form>
        </div>
    </div>
    
</div>

{% block content %}{% endblock %}

<div id="footer" class="noselect">
    <ul id="ft-links">
        <li><a href="https://github.com/caitinggui/Blog" target="_blank">我的github</a></li>
    </ul>
    <ul id="ft-about-links">
        <li><a href="https://github.com/caitinggui" target="_blank">github主页</a></li>
    </ul>
    <div id="copyright">&copy; djangoBlog</div>
</div>
</body>
</html>
