<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Myblog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pygments/github.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/django.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/base.js' %}"></script>
    <!--script type="text/javascript" src="{% static 'blog/js/ajaxdebug.js' %}"></script-->
</head>
<body>
<div id="header">
    <div id="header-warp">
        <a href="/admin" title="第一个博客" id="logo"></a>
        
        <ul id="header-nav">
            <li><a href="{% url 'blog:index' %}">首页</a></li>
        </ul>
        <div id="header-right" class="login">
            <div class="user">
            {# 不可使用request.session['username'], 模板中的语句都不带参数 #}
            {% if request.session.username %}
                <div id='userimgdiv'>
                    <img id='userimg' src="{{ request.session.userimg }}">
                </div>
                <a id='username' href="{% url 'blog:logout' %}" float:left>{{ request.session.username }}</a>
                <a id='usercomment' href="{% url 'blog:account' %}">评论过的文章</a>
            {% else %}
                <a href="{% url 'blog:regist' %}">注册</a>
                <a href="{% url 'blog:login' %}">登陆</a>
            {% endif %}
            </div>
            
        </div>
        <div id='header-middle' class='qrcode'>
            <!--form method='post' action='{% url "blog:qrcode" %}'-->
            <form method='post' action='{% url "blog:qrcode" %}'>
               {% csrf_token %}
                <input name='target_url' type='text' placeholder="默认为当前网址">
                <input type='button' class='generate_qrcode' value="生成二维码" >
                <!--下面的方法会报错，ajaxStart状态出问题,因为button在firefox中默认type=submit,并且还漏了</button>
                <button class='generate_qrcode'value="生成二维码" onclick='submit_qrcode()'>
                -->
            </form>
            <form method='get' action='{% url "blog:haystack_search" %}'>
               {% csrf_token %}
                <input name='q' id='id_q' placeholder="输入要搜索的关键字">
                <input id='search' value="搜索" type='submit'>
            </form>
        </div>
    </div>
    
</div>

{% block content %}{% endblock %}

<div id="footer" class="noselect">
    <ul id="ft-links">
        <li><a href="https://github.com/caitinggui/Blog" target="_blank">项目源码</a></li>
    </ul>
    <ul id="ft-about-links">
        <li><a href="https://leetcode.com/problemset/algorithms/" target="_blank">leetcode</a></li>
    </ul>
    <ul id="ft-links">
        <li><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备16122044号</a></li>
    </ul>
    <div id="copyright">&copy; djangoBlog</div>
</div>
</body>
</html>
