Django==1.8.13
MySQL-python==1.2.3
pytz==2016.4

# 搜索依赖库
jieba==0.37
whoosh==2.7.0
django-haystack==2.4.0

# redis依赖库
# Redis 2.8.4
django-redis==4.7.0

# RESTful API依赖库
djangorestframework==3.5.4
django-filter==0.13.0

# 异步任务依赖库
# RabbitMQ
celery==4.0.2

# qrcode依赖库
qrcode==5.3
Pillow

