{% extends 'base.html' %}
{% load highlight %}
{% block content %}
{% if query %}  
    <h3>Results</h3>  

    {% for result in page.object_list %}  
        <div class="post-hd">
            <h1 class="title">
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
            </h1>
        </div>   
        <div class="post-bd">
            {% highlight result.object.body with query css_class "highlight_me_please" max_length 200 %}
        </div>
    {% empty %}  
        <p>No results found.</p>  
    {% endfor %}  

    {% if page.has_previous or page.has_next %}  
        <div>  
            {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}  
            |  
            {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}  
        </div>  
    {% endif %}  
{% else %}  
    {# Show some example queries to run, maybe query syntax, something else? #}  
{% endif %}  
{% endblock %}
