{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <!--<div id="banner" class="noselect"></div> -->

    <div class="container transparent">
        <div class="row">
            <div class="col-lg-9">
                <div id="category" class="noselect">
                    <div id="category-title">
                        <ul>
                            <li>分类：</li>
                            {% for category in category_list %}
                                <li class="cat-item"><a
                                        href="{% url 'blog:category' category.pk %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div id="bd" class="wrp clear-fix">
                    <div id="main">
                        {% if query %}  
                            <h3 class="obvious-color">搜索结果</h3>
                            {% load highlight %}
                            {% for result in page.object_list %}  
                              <div class="post">
                                <div class="post-hd">
                                    <h1 class="title">
                                        <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                                    </h1>
                                </div>   
                                <div class="post-bd">
                                    {% highlight result.object.body with query css_class "highlight_me_please" max_length 200 %}
                                </div>
                              </div>
                            {% empty %}  
                              <div class="post">
                                <p>抱歉，没有搜索到结果，请更换关键词重新搜索~</p>
                              </div>
                            {% endfor %}  

                            {% if page.has_previous or page.has_next %}  
                                <div>  
                                    {% if page.has_previous %}
																		  <a class='obvious-color' href="?q={{ query }}&page={{ page.previous_page_number }}">« Previous |</a>
																		{% endif %}  
                                    {% if page.has_next %}
																		  <a class='obvious-color' href="?q={{ query }}&page={{ page.next_page_number }}">Next »</a>
																		{% endif %}  
                                </div>  
                            {% endif %}  
                        {% else %}  
                            {% load paginate_tags %}
                            {% paginate article_list 9 %}
                            {% for article in article_list %}
                                <div class="post">
                                    <div class="post-hd">
                                        <h1 class="title"><a
                                                href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a></h1>
                                    </div>
                                    <div class="post-bd">
                                        <p>{{ article.abstract }}</p>
                                        <p><a href="" class="more-link"></a></p>
                                    </div>
                                    <div class="post-ft">
                                        <a href="{% url 'blog:detail' article.id %}" class="more">阅读全文>></a>
                                        <i class="icon-date"></i>
                                        <span class="date">{{ article.last_modified_time|date:"Y年n月d日" }}</span>
                                        <!--i class='icon-praise'></i>-->
                                        <input type='image' class='praise' src="{% static 'blog/img/gb21.png' %}" href="{% url 'blog:detail' article.id %}/praise">
                                        <span class='likes_num'>{{ article.likes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="/admin/article/edit/?aid={{ article.pk }}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>阅读量:{{ article.views}}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            {% include 'blog/pagination.html' %}
                        {% endif %}  
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <!-- tags -->
                <h3 class="obvious-color">标签:</h3>
                <div  id="cloudtag">
                    {% for tag in tag_list %}
					<a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>

                <!-- archive -->
                <h3 class="obvious-color">文章归档：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for year,months in date_archive %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ forloop.counter }}"
                                       aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                        {{ year }} 年
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading{{ forloop.counter }}">
                                <div class="panel-body">
                                    {% for month in months %}
                                        <a href="{% url 'blog:archive' year month %}"><p>{{ month }} 月</p></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h3 class="obvious-color">热门文章：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ forloop.counter }}"
                                       aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading{{ forloop.counter }}">
                                <div class="panel-body">
                                    {% for article in hot_article %}
                                        <a href="{% url 'blog:detail' article.id %}"><p>{{ article.title|truncatewords:2 }}</p></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
                <h3 class="obvious-color">最新评论：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ forloop.counter }}"
                                       aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading{{ forloop.counter }}">
                                <div class="panel-body">
                                    {% for comment in recent_comment %}
                                        <a href="{% url 'blog:detail' comment.article.id %}"><p>{{ comment.body }}</p></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
                <h3 class="obvious-color">最近访问</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse{{ forloop.counter }}"
                                       aria-expanded="true" aria-controls="collapse{{ forloop.counter }}"> 访问量:{{ visitor_num }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading{{ forloop.counter }}">
                                <div class="panel-body">
                                    {% for visitor in visitor_ip %}
                                        <p>{{ visitor.ip }}[{{ visitor.city }}]  <sup>{{ visitor.visited_time | date:'m-j H:i'}}</sup></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_css %}
<style type="text/css">
#cloudtag {position:relative; width:260px; height:260px; solid #000; margin: 20px auto 0;}
#cloudtag a {position:absolute; top:0px; left:0px; color:#00FF00; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#cloudtag a:hover {border: 1px solid #eee; background: #000; }
</style>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'blog/js/jquery.windstagball.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $("#cloudtag").windstagball({
            radius:120,
            speed:10
        });
    });
</script>
{% endblock %}
