{% extends 'admin/article-add.html' %}
{% load staticfiles %}
{% block title %}低调诺| 编辑文章{% endblock %}

{% block content-header %}
    <section class="content-header">
    <h1>
        编辑文章
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'admin:dashboard' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a>文章管理</a></li>
        <li class="active">编辑文章</li>
    </ol>
    </section>
{% endblock %}

{% block status_show %}
{% if article.status == 'p' %}
    <option value="p">发布</option>
    <option value="d">存稿</option>
{% elif article.status == 'd' %}
    <option value="d">存稿</option>
    <option value="p">发布</option>
{% endif %}
{% endblock %}

{% block custom_js %}
    <script src="{% static 'admin/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'admin/editormd/editormd.js' %}"></script>
    <script type="text/javascript">
        var Editor;
        $(function () {
            $.get('{% url 'admin:article-body' %}?aid={{ article.id }}', function (md) {
                Editor = editormd("editormd", {
                    width: "100%",
                    height: 740,
					<!--根据浏览器调试信息和nginx error.log来更改路径-->
                    path: '/static/admin/editormd/lib/',
                    markdown: md,
                    codeFold: true,
                    saveHTMLToTextarea: true,
                    searchReplace: true,
                    htmlDecode: "style,script,iframe|on*",
                    emoji: true,
                    taskList: true,
                    tocm: true,
                    tex: true,
                    flowChart: true,
                    sequenceDiagram: true,
                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "/admin/upload/"
                });
            });
            $(".select2").select2();
        });
    </script>
{% endblock %}
