<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>
        注册</title>

        </head>


        <body>
        
        <h1>
        注册页面：</h1>

        <form method = 'post' enctype="multipart/form-data">

            {% csrf_token %}
                {{uf.as_p}}
                    <input type="submit" value = "ok" />

                    </form>

                    <br>
                    
                    <a href="http://127.0.0.1:8000/online/login/">
登陆</a>

</body>

</html>




