<div id='header-middle' class='search'>
    <form method='get' action='{% url "blog:search" %}'>
       {% csrf_token %}
        <input name='body_search' type='text' placeholder="文章包含的字段">
        <input class='search' type='submit' value="search">
    </form>
</div>

<!--
<form class="form-horizontal" action="{% url 'blog:search'%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="form-actions">
        <input type="submit" value="搜索" class="btn btn-primary">
    </p>
</form>-->