{% extends 'admin/base.html' %}
{% load staticfiles %}
{% block title %}安生 | 仪表板{% endblock %}
{% block content-wrapper %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>仪表盘</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'admin:dashboard' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">仪表盘</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <h1>Hi, {{ request.user.nick_name }}</h1>
            <h2>我确实不知道写点什么了~</h2>
            <h3>如果你知道，你可以对本页进行编辑~</h3>
            <h4>本系统源代码：<a href="https://github.com/anshengme/july" target="_blank">https://github.com/anshengme/july</a></h4>
            <h5>当然她是完全开源的，遵守MIT协议，你可以自定义修改，二次开发，完全把她当做自己的~</h5>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
